
body {
    font-family: Montserrat;
}
img {
    width: 100%;
}
p,
h1,
h2,
h3,
a,
div,
ul,
li{
    margin: 0;
    padding: 0;
}
body {
    cursor: url("../img/Ellipse_16.png"), auto;
}
.blog {
    cursor: url("../img/Group_85.png"), auto;  
}
.container {
    max-width: 1440px;
    margin: 0 auto;
    background: #6E105E;
}
.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-left: 68px;
    padding-right: 68px;
    padding-top: 10px;
    background: linear-gradient(0deg, rgba(110, 16, 94, 0) 3.12%, #320029 100%);

}
.header__logo {
    width: 98px;
    height: 98px;
}
.center {
    padding-right: calc(50% - 652px);
    padding-left: calc(50% - 652px);
}
.text {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #EFF3F5;
    text-decoration: none;
}
.text_margin {
    margin-right: 30px;
}
.menuMob {
    position: relative;
}
.menuMob_activ {
    display: none;
}
.menuMob_open {
    position: absolute;
    top: -50px;
    left: -100px;
    width: 224px;
    background: rgba(110, 16, 94, 0.9);
    border: 0.5px solid #000000;
    box-sizing: border-box;
    box-shadow: inset 0px 0px 5px 5px rgba(255, 255, 255, 0.25);
    border-radius: 12px;
    padding: 20px;
    z-index: 1;
}
.menuMob__link {
    font-size: 16px;
    line-height: 19px;
    color: #EFF3F5;
    text-decoration: none;
    padding-top: 3px;
    padding-bottom: 3px;
    display: flex;
}
.menuMob__link:hover {
    background: #D26600;
    border-radius: 5px;
    margin-left: -10px;
    margin-right: -10px;
    padding-left: 10px;
    padding-right: 10px;
}
.menuMob__list li {
    list-style-type: none;
    margin-bottom: 4px;
}
.open_svg {
    width: 40px;
    height: 40px;
}
.close_svg {
    width: 20px;
    height: 20px;
}
.menuMob__close {
    text-align: right;
}
.menuMob__arrow {
    text-align: center;
}
.enRu {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #EFF3F5;
}
.way {
    padding-left: 68px;
    margin-top: 32px;
}
.way__text {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #EFF3F5;
    text-decoration: none;
}
.way__text_activ {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #6E105E;
    background: #EFF3F5;
    opacity: 0.8;
    border-radius: 20px;
    padding: 2px 11px 3px;
}
.blogers__title {
    margin-top: 30px;
    margin-bottom: 54px;
}
.title {
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 61px;
    text-align: center;
    color: #EFF3F5;
}
.blogers__filters {
    padding-left: 68px;
}
.filters {
    display: flex;
    flex-wrap: wrap;
}
.filters__block {
    display: flex;
    align-items: center;
    margin-right: 40px;
}
.filters__text {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #EFF3F5;
}
.filters__text_margin {
    margin-right: 10px;
}
.blogers__collections {
    padding-left: 68px;
    padding-right: 68px;
    margin-top: 50px;

}
.collections {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.blog {
    width: calc(100% / 4 - 60px);
}
.blog_img1 {
    background-image: url(../img/Rectangle_25.png);
    background-repeat: no-repeat;
}
.blogers__color {
    width: 100%;
    height: 100%;
    background: rgba(189, 28, 159, 0.5) top left;
}
.blog_img:hover {
    box-shadow: 0px 0px 10px 6px rgba(0, 0, 0, 0.25);
}
.blog_img2 {
    background: url(../img/Rectangle_26.png) no-repeat;

}
.blog_img3 {
    background: url(../img/Rectangle_27.png) no-repeat;
}
.blog_img4 {
    background: url(../img/Rectangle_28.png) no-repeat;
}
.blog_img5 {
    background: url(../img/Rectangle_29.png) no-repeat;
}
.blog_img6 {
    background: url(../img/Rectangle_30.png) no-repeat;
    width: 340px;
    background-size: cover;
    background-position: center;
}
.blog_img7 {
    background: url(../img/Rectangle_31.png) no-repeat;
}
.blog_img8 {
    background: url(../img/Rectangle_32.png) no-repeat;
}
.blog {
    width: 311px;
    margin-bottom: 10px;    
}
.blog_margin {
    margin-bottom: 50px;
}
.blog_item {
    margin-bottom: 10px;
}
.blog__title {
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    color: #EFF3F5;
    margin-left: 12px;
    padding-top: 186px;
}
.blog__message {
    margin-left: 12px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}
.blog__text {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #EFF3F5;
    margin-left: 10px;
}
.blogers__link {
    text-decoration: none;
}
.blog_item_margin {
    margin-right: 20px;
}
.upload {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 59px
}
.upload__line {
    width: 600px;
    height: 1px;
    background-color: #EFF3F5;
}
.upload__text {
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: #EFF3F5;
    margin-left: 67px;
    margin-right: 67px;
}
.footer__contacts {
    margin-right: 68px;
    padding-top: 101px;
    display: flex;
    justify-content: flex-end;
    margin-left: 270px;
}
.footer {
    margin-top: 12px;
    margin-bottom: 21px;
    align-items: center;
    background: url(../img/footerLogo.png) no-repeat 68px 0, 
                linear-gradient(180deg, rgba(110, 16, 94, 0) 3.12%, #320029 100%);
}
.footer__img {
    background-repeat: no-repeat;
    padding-left: 68px;
}
.footer__contacts_margin {
    margin-right: 47px;
}
.footer__icons {
    margin-top: 30px;
    padding-bottom: 38px;
    text-align: center;
}
.footer__icon {
    margin-right: 30px;
}
.footer__link {
    text-decoration: none;
}
